<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>产品自动化测试管理平台</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximumscale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css"/>
    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>
<body role="document">

<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center">
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style='color:white' href="#">{{ user }}</a></li>
            <li class="nav-link"><a style='color:white' href="{% url 'logout' %}">退出</a></li>
        </ul>
    </div>
</nav>

<div class="main">
    <!-- 搜索栏-->
    <div class="page-header">
        <form class="navbar-form" method="get" action="/usersearch/">
            {% csrf_token %}
            <input type="search" name="username" placeholder="名称" required>

            <button type="submit">搜索</button>
        </form>
    </div>

    <!-- 增加用户-->
    <div class="add">
        <select name="User" id="id_User">
            <option value="" selected>----用户列表----</option>
        </select>
        <a class="related-widget-wrapper-link change-related" id="change_id_User"
           data-hreftemplate="/admin/auth/user/__fk__/change/?_to_field=id&amp;_popup=1" title="更改选中的用户">
            <img src="/static/admin/img/icon-changelink.svg" alt="修改"/>
        </a>
        <a class="related-widget-wrapper-link add-related" id="add_id_User"
           href="/admin/auth/user/add/?_to_field=id&amp;_popup=1" title="增加另一个用户">
            <img src="/static/admin/img/icon-addlink.svg" alt="增加"/>增加
        </a>
    </div>

    <div class="row">
        <div class="col-md-11">
            <!-- 用户管理-->
            <table class="table table-striped" style="table-layout: fixed;">
                <style>
                    td {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                </style>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>邮箱</th>
                    <th>最近登录日期</th>
                    <th>注册日期</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td><a style='color:lightblue' class="related-widget-wrapper-link add-related" id="add_id_User"
                               href="/admin/auth/user/{{ user.id }}/change/?_to_field=id&_popup=1"><img
                                src="/static/admin/img/icon-changelink.svg"/></a>
                        </td>
                        <td><a style='color:lightblue' class="related-widget-wrapper-link add-related" id="add_id_User"
                               href="/admin/auth/user/{{ user.id }}/delete/?_to_field=id&_popup=1"><img
                                src="/static/admin/img/icon-deletelink.svg"/></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>