.main {
    width: 88%;
    margin: 0 auto;
}

.page-header {
    float: left;
    padding-top: 80px;
}

.add {
    float: right;
    width: 40%;
    padding-top: 80px;
}

.row {
    float: left;
    width: 100%;
}

li {
    list-style: none;
}

.back_edit {
    position:relative;
    float: left;
    left: 45%;
    margin-top: 20px;
}