<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximumscale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css"/>
    <meta name="robots" content="NONE,NOARCHIVE"/>
    <style> body {
        text-align: center
    } </style>
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <li class="active"><a style='color:white' href="/apis_manage/">单一接口</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li><a style='color:white' href="/api_test_manage/">流程接口</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="active"><a style='color:white' href="/appcase_manage/">app用例</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="active"><a style='color:white' href="/webcase_manage/">web用例</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="nav justify-content-center">
        </ul>

        <ul class="nav justify-content-end" style="position:absolute; right:10px; bottom:0px; ">
            <li class="nav-link"><a style='color:white' href="#">{{ user }}</a></li>
            <li class="nav-link"><a style='color:white' href="/logout/">退出</a></li>
        </ul>
    </div>
</nav>
<!-- 流程接口测试步骤-->
<div class="row" style="padding-top: 70px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>接口名称</th>
                <th>接口名称</th>
                <th>参数值</th>
                <th>方法</th>
                <th>预期结果</th>
                <th>测试结果</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            {% for apistep in api_steps %}
                <tr>
                    {% if apistep.api_test.id == api_test.id %}
                        <td>{{ apistep.id }}</td>
                        <td>{{ apistep.api_name }}</td>
                        <td>{{ apistep.api_url }}</td>
                        <td>{{ apistep.api_param_value }}</td>
                        <td>{{ apistep.api_method }}</td>
                        <td>{{ apistep.api_result }}</td>
                        <td>
                            {% if apistep.api_status == 1 %}
                                <a style='color:green'>{{ apistep.api_status }}</a>
                            {% else %}
                                <a style='color:red'>{{ apistep.api_status }}</a>
                            {% endif %}
                        </td>
                        <td>{{ apistep.create_time }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- 返回、编辑功能-->
<td>
<a style='color:lightblue'  href="{% url 'api_test_manage' %}" >
<img src="/static/admin/img/icon-yes.svg" alt="返回"/>返回
</a>
</td>

<td>
<a style='color:lightblue' class="related-widget-wrapper-link add-related" id="add_id_Apitest" href="/admin/api_test/apitest/{{ api_test.id  }}/change/?_to_field=id&_popup=1">
<img src="/static/admin/img/icon-changelink.svg"/>编辑</a>
</td>

<!-- 翻页功能-->
<span style="position:absolute; right:100px; bottom:30px;"> {# 把翻页功能固定显示在右下角#}
<div class="container">
 <ul class="pagination" id="pager">
 {# 上一页链接开始#}
     {% if api_steps.has_previous %}
         {# 如果有上一页则正常显示上一页的链接#}
         <li class="previous"><a href="/api_step_manage/?page={{ api_steps.previous_page_number }}">上
一页</a></li> {# 上一页标签 #}
     {% else %}
         <li class="previous disabled"><a href="#">上一页</a></li> {# 如果当前不存在上一页则上一页的链接不可单击#}
     {% endif %}
     {# 上一页链接开始#}

     {% for num in api_steps.paginator.page_range %}

         {% if num == current_page %}
             <li class="item active"><a href="/api_step_manage/?page={{ num }}">{{ num }}</a></li>
             {#显示当前页数链接#}
         {% else %}
             <li class="item"><a href="/api_step_manage/?page={{ num }}">{{ num }}</a></li>
         {% endif %}
     {% endfor %}

     {# 下一页链接开始#}
     {% if api_steps.has_next %} {# 如果有下一页，则正常显示下一页的链接#}
         <li class="next"><a href="/api_step_manage/?page={{ api_steps.next_page_number }}">下一页
</a></li>
     {% else %}
         <li class="next disabled"><a href="#">下一页</a></li>
     {% endif %}
     {# 下一页链接结束#}
 </ul>
</div>
</span>
</body>
</html>