<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dhtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
    <title>自动化平台测试开发</title>
</head>
<frameset id="frame1" rows="*" cols="265,*" framespacing="0" frameborder="yes" border="0">
{#    <frame src="{% url 'left' %}" name="leftFrame" scrolling="auto" noresize>#}
    {#    <frame src="{% url 'api_test_manage' %}" name="mainFrame" scrolling="NO" noresize>#}
{#    <frame src="{% url 'welcome' %}" name="mainFrame" scrolling="NO" noresize>#}
</frameset>
<noframes>
    <body>
    </body>
</noframes>
</html>