<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>产品自动化测试平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css"/>
    <meta name="robots" content="NONE,NOARCHIVE"/>
    <style> body {
        text-align: center
    } </style>
</head>
<body role="document">

<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <li class="active"><a style='color:white' href="/apis_manage/">单一接口</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li><a style='color:white' href="/api_test_manage/">流程接口</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="active"><a style='color:white' href="/appcase_manage/">app用例</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="active"><a style='color:white' href="/webcase_manage/">web用例</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="nav justify-content-center">
        </ul>
        <ul class="nav justify-content-end" style="position:absolute; right:10px; bottom:0px; ">
            <li class="nav-link"><a style='color:white' href="#">{{ user }}</a></li>
            <li class="nav-link"><a style='color:white' href="/logout/">退出</a></li>
        </ul>
    </div>
</nav>

<div class="main">
{#    <!-- 搜索栏-->#}
{#    <div class="page-header">#}
{#        <form class="navbar-form" method="get" action="/appstepsearch/">#}
{#            {% csrf_token %}#}
{#            <input type="search" name="appcasename" placeholder="名称" required>#}
{#            <button type="submit">搜索</button>#}
{#        </form>#}
{#    </div>#}

    <!-- 流程测试步骤-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>所属产品</th>
                    <th>所属用例</th>
                    <th>步骤</th>
                    <th>定位方式</th>
                    <th>控件元素</th>
                    <th>操作方法</th>
                    <th>测试数据</th>
                    <th>验证数据</th>
                    <th>测试结果</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                {% for appcasestep in app_case_steps %}
                    <tr>
                        {% if appcasestep.app_case.id == app_case.id %}
                            <td>{{ appcasestep.app_case.product.product_name }}</td>
                            <td>case{{ appcasestep.app_case.id }}:{{ appcasestep.app_case.app_case_name }}</td>
                            <td>{{ appcasestep.app_test_step }}:{{ appcasestep.app_test_obj_name }}</td>
                            <td>{{ appcasestep.app_find_method }}</td>
                            <td>{{ appcasestep.app_element }}</td>
                            <td>{{ appcasestep.app_opt_method }}</td>
                            <td>{{ appcasestep.app_test_data }}</td>
                            <td>{{ appcasestep.app_assert_data }}</td>
                            <td>{% if appcasestep.app_test_result == 1 %}
                                <a style='color:green'>{{ appcasestep.app_test_result }}</a>
                            {% else %}
                                <a style='color:red'>{{ appcasestep.app_test_result }}</a>
                            {% endif %}
                            </td>
                            <td>{{ appcasestep.create_time }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!--返回、编辑功能-->
    <div class="back_edit">
        <td>
            <a style='color:lightblue' href="/app_test/app_mange/">
                <img src="/static/admin/img/icon-yes.svg" alt="返回"/>返回
            </a>
        </td>
        <td>
            <a style='color:lightblue' class="related-widget-wrapper-link add-related" id="add_id_Appcase"
               href="/admin/app_test/appcase/{{ app_case.id }}/change/?_to_field=id&_popup=1">
                <img src="/static/admin/img/icon-changelink.svg"/>编辑</a>
        </td>
    </div>

    <!--统计和翻页功能-->
    <span style="position:absolute; right:100px; bottom:30px;"> {# 把翻页功能固定显示在右下角#}
<div class="container">
 <ul class="pagination" id="pager">
 {# 上一页链接开始#}
     {% if appcasesteps.has_previous %}
         {# 如果有上一页，则正常显示上一页的链接#}
         <li class="previous"><a
                 href="/appcasestep_manage/?page={{ appcasesteps.previous_page_number }}">上一页</a></li> {# 上一页标签 #}
     {% else %}
         <li class="previous disabled"><a href="#">上一页</a></li> {# 如果当前不存在上一页，则上一页的链接不可单击#}
     {% endif %}
     {# 上一页链接开始#}

     {% for num in appcasesteps.paginator.page_range %}

         {% if num == current_page %}
             <li class="item active"><a
                     href="/appcasestep_manage/?page={{ num }}">{{ num }}</a></li> {#显示当前页数链接#}
         {% else %}
             <li class="item"><a href="/appcasestep_manage/?page={{ num }}">{{ num }}</a></li>
         {% endif %}
     {% endfor %}

     {# 下一页链接开始#}
     {% if appcasesteps.has_next %} {# 如果有下一页，则正常显示下一页的链接#}
         <li class="next"><a href="/appcasestep_manage/?page={{ appcasesteps.next_page_number }}">下
一页</a></li>
     {% else %}
         <li class="next disabled"><a href="#">下一页</a></li>
     {% endif %}
     {# 下一页链接结束#}
 </ul>
</div>
</span>
</div>
</body>
</html>